.content{
  margin-top: 20px;
}

.mdc-tab-bar{
  color: black;
}

.mdc-card {
  height: 350px;
  width: 350px;
  background-color: #262626;
}

.mdc-typography{
  text-align: center;
  color: white;
}

.demo-card__title{
  font-size: 35px;
  margin-bottom: 5px;
}

.demo-card__subtitle{
  font-size: 20px;
}

#sol_input, #rover_input{
  margin-left: 250px;
}

#mrp_heading{
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

.mdc-image-list__item{
  margin-right: 20px;
}

#img_search_button{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
